<% include partials/head %>

    <h2>Danh sách các lớp trong kỳ này của giáo viên <%= user.local.email %> là </h2>
    <table class="table table-bordered table-striped">
      <tr class="">
        <td class="">
          Tên giáo viên
        </td>
        <td class="">
          Email
        </td>
        <td class="">
          Tên lớp
        </td>
        <td class="">
          Mã lớp
        </td>
        <td class="">
          Mã lớp học
        </td>
        <td class="">
          Số lượng SV
        </td>
        <td class="">
          Khóa
        </td>
        <td class="">
          Số tín chỉ
        </td>
        <td class="">
          Ghi chú
        </td>
        <td class="">
          Thời gian
        </td>
      </tr>
    <% for(i=0;i<data.day.length;i++){ %>
      <tr class="">
        <td class="">
          <%= data.day[i].tenGv %>
        </td>
        <td class="">
          <%= data.day[i].email %>
        </td>
        <td class="">
          <%= data.day[i].tenlop %>
        </td>
        <td class="">
          <%= data.day[i].malop %>
        </td>
        <td class="">
          <%= data.day[i].malopHoc %>
        </td>
        <td class="">
          <%= data.day[i].soLuongSV %>
        </td>
        <td class="">
          <%= data.day[i].khoa %>
        </td>
        <td class="">
          <%= data.day[i].soTinChi %>
        </td>
        <td class="">
          <%= data.day[i].ghiChu %>
        </td>
        <td class="">
          <md-button class="md-raised md-primary" ng-click="showChonThoiGian($event)">Chọn thời gian</md-button>
        </td>
      </tr>
    <% } %>
    </table>

    <% include partials/sign-in-up.ejs %>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

    <script>
      angular
        .module('myApp',['ngMaterial'])
        .config(function($mdThemingProvider) {
          // Configure a dark theme with primary foreground yellow
          $mdThemingProvider.theme('docs-dark', 'default')
            .primaryPalette('blue')
            // .dark();
            .accentPalette('green');
        })
        .run(function(){
          console.log("My app is active");
        })
        .controller('AppCtrl', AppCtrl);
        function AppCtrl($scope,$mdDialog) {
          $scope.showlogin=false;
          $scope.currentNavItem = 'dangkylich';
          $scope.showLogin = function(ev) {
              $mdDialog.show({
                controller: DialogController,
                templateUrl: 'login.html',
                parent: angular.element(document.body),
                targetEvent: ev,
                clickOutsideToClose:true,
                fullscreen: $scope.customFullscreen // Only for -xs, -sm breakpoints.
              })
              .then(function(answer) {
                $scope.status = 'You said the information was "' + answer + '".';
              }, function() {
                $scope.status = 'You cancelled the dialog.';
              });
            };
            $scope.showSignup = function(ev) {
              $mdDialog.show({
                controller: DialogController,
                templateUrl: 'signup.html',
                parent: angular.element(document.body),
                targetEvent: ev,
                clickOutsideToClose:true,
                fullscreen: $scope.customFullscreen // Only for -xs, -sm breakpoints.
              })
              .then(function(answer) {
                $scope.status = 'You said the information was "' + answer + '".';
              }, function() {
                $scope.status = 'You cancelled the dialog.';
              });
            };
            $scope.showChonThoiGian = function(ev) {
                $mdDialog.show({
                  controller: DialogController,
                  templateUrl: 'ChonThoiGian.html',
                  parent: angular.element(document.body),
                  targetEvent: ev,
                  clickOutsideToClose:true,
                  fullscreen: $scope.customFullscreen // Only for -xs, -sm breakpoints.
                })
                .then(function(answer) {
                  $scope.status = 'You said the information was "' + answer + '".';
                }, function() {
                  $scope.status = 'You cancelled the dialog.';
                });
              };
        function DialogController($scope, $mdDialog) {
            $scope.hide = function() {
              $mdDialog.hide();
            };

            $scope.cancel = function() {
              $mdDialog.cancel();
            };

            $scope.answer = function(answer) {
              $mdDialog.hide(answer);
            };
          }
        }

    </script>
  </body>


</html>
