<% include partials/head %>

    <h2>Danh sách các lớp trong kỳ này của giáo viên <%= user.local.email %> là </h2>
    <table class="table table-bordered table-striped">
      <tr class="">
        <td class="">
          STT
        </td>
        <td class="">
          Mã học phần
        </td>
        <td class="">
          Tên lớp học phần
        </td>
        <td class="">
          Số lượng
        </td>
        <td class="">
          Số TC
        </td>
        <td class="">
          Phòng học
        </td>
        <td class="">
          Giảng Viên
        </td>
        <td class="">
          Cơ quan công tác
        </td>
        <td class="">
          Điện thoại liên hệ
        </td>
        <td class="">
          Khóa
        </td>
        <td class="">
          Thời gian
        </td>
      </tr>
    <% for(i=0;i<data.length;i++){ %>
      <tr class="">
        <td class="">
          <%= i+1 %>
        </td>
        <td class="">
          <%= data[i].maHP %>
        </td>
        <td class="">
          <%= data[i].Tênlớphọcphần %>
        </td>
        <td class="">
          <%= data[i].Sốlượng %>
        </td>
        <td class="">
          <%= data[i].SốTC %>
        </td>
        <td class="">
          <%= data[i].Phònghọc %>
        </td>
        <td class="">
          <%= data[i].Giảngviên %>
        </td>
        <td class="">
          <%= data[i].Cơquancôngtác %>
        </td>
        <td class="">
          <%= data[i].Điệnthoạiliênhệ %>
        </td>
        <td class="">
          <%= data[i].tenlop %>
        </td>
        <td class="">
          <md-button class="md-raised md-primary" data-toggle="modal" data-target=".bs-example-modal-lg"  ng-click="showChonThoiGian($event)"
          onclick="ifunction('<%= data[i].tenlop %>','<%= data[i].SốTC %>')">Chọn thời gian</md-button>
        </td>
      </tr>
    <% } %>
    </table>
    <!-- Đoạn script show ra khi nhấn nút ChonThoiGian -->
    <div id="chonthoigian" ng-model="thoigian">
    </div>
    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <h1>Danh sách các lớp gợi ý phù hợp với thời khóa biểu của lớp và giảng viên:</h1>
          <div id="err">

          </div>
          <table class="table table-bordered" >
            <tr>
              <td>Buổi</td>
              <td>Thời gian bắt đầu</td>
              <td>Thời gian kết thúc</td>
              <td>Xác nhận</td>
            </tr>
            <tr id="goiy">
            </tr>

          </table>
        </div>
      </div>
    </div>
    <script>
      function ifunction(lop,sotc) {
        lop1=lop;
        sotc1=sotc;
      }
      function submit(){
        console.log("submit thanhcong");
      }
      var sdt=<%= user.local.email %>
    </script>
    <% include partials/sign-in-up.ejs %>
    <% include partials/chonthoigian.ejs %>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.js"></script>
    <script>
      angular
        .module('myApp',['ngMaterial'])
        .config(function($mdThemingProvider) {
          // Configure a dark theme with primary foreground yellow
          $mdThemingProvider.theme('docs-dark', 'default')
            .primaryPalette('blue')
            // .dark();
            .accentPalette('green');
        })
        .run(function(){
          console.log("My app is active");
        })
        .controller('AppCtrl', AppCtrl);
        function AppCtrl($scope,$mdDialog,$http,$window,$compile) {
          $scope.showlogin=false;
          $scope.currentNavItem = 'dangkylich';
            $scope.showLogin = function(ev) {
              $mdDialog.show({
                controller: DialogController,
                templateUrl: 'login.html',
                parent: angular.element(document.body),
                targetEvent: ev,
                clickOutsideToClose:true,
                fullscreen: $scope.customFullscreen // Only for -xs, -sm breakpoints.
              })
              .then(function(answer) {
                $scope.status = 'You said the information was "' + answer + '".';
              }, function() {
                $scope.status = 'You cancelled the dialog.';
              });
            };

            $scope.showSignup = function(ev) {
              $mdDialog.show({
                controller: DialogController,
                templateUrl: 'signup.html',
                parent: angular.element(document.body),
                targetEvent: ev,
                clickOutsideToClose:true,
                fullscreen: $scope.customFullscreen // Only for -xs, -sm breakpoints.
              })
              .then(function(answer) {
                $scope.status = 'You said the information was "' + answer + '".';
              }, function() {
                $scope.status = 'You cancelled the dialog.';
              });
            };

            // hien thi ra dialog cho nguoi dung chon thoi gian giang day va gui thoi gian do ve server
            $scope.showChonThoiGian = function(ev) {
              $scope.lop=window.lop1;
              $scope.sotc=window.sotc1;
              $scope.sdt=window.sdt;
              $http({
                method: 'POST',
                url: '/users/goiYLich',
                headers: {
                   'Content-Type': 'application/json'
                 },
                 data: {
                   khoa: $scope.lop,
                   sdt:  $scope.sdt,
                   sotc: $scope.sotc
                  }
              }).then(function successCallback(response) {
                  var err = angular.element('#err');
                  var goiY = angular.element('#goiy');
                  // var keys = Object.keys($scope.thoigian);// dung de lay length object
                  html="";

                  console.log();
                  //hiện thi danh sách các thời gian có thể đăng ký vào buổi sáng thứ 7
                  $scope.t1='"sangt7"';
                  var days6=(response.data.sotc*45/6)*7;
                  var min='"'+response.data.sangt7[0].start.substring(0,10)+'"';
                  console.log("min",min);
                  var max=(moment(response.data.sangt7[0].end.substring(0,10),"YYYY-MM-DD").subtract(days6,'days'))._d;
                  console.log("max",max);
                  $scope.sangt7BatDau='"'+response.data.sangt7[0].start.substring(0,10)+'"';
                  $scope.sangt7KetThuc=(moment($scope.sangt7BatDau,"YYYY-MM-DD").add(days6,'days'))._d;

                  $scope.auto=function(){
                    $scope.sangt7KetThuc=(moment($scope.sangt7BatDau,"YYYY-MM-DD").add(days6,'days'))._d;
                    if(moment($scope.sangt7BatDau).isBefore(min)){
                      $window.alert("Hãy chọn thời gian lớn hơn");
                    }else if(moment($scope.sangt7BatDau).isAfter(max)){
                      $window.alert("Chọn thời gian nhỏ hơn");
                    }

                  }

                  console.log($scope.sangt7BatDau);
                  html+= "<tr><td rowspan='"+response.data.sangt7.length/2+"'> Sáng thứ 7</td>"+
                        "<td><input type='date'  ng-change='auto()' ng-model='sangt7BatDau' value='"+response.data.sangt7[0].start.substring(0,10)+"'</td>"+
                        "<td><input type='date'  readonly ng-model='sangt7KetThuc' value='sangt7KetThuc'</td>"+
                        "<td><button ng-click='submit(t1,sangt7BatDau,sangt7KetThuc)'>Submit</button>"+
                        "</tr>";

                  for(var i=2;i<response.data.sangt7.length;i+=2){
                    $scope.t1='"sangt7"';
                    $scope.sangt7BatDau='"'+response.data.sangt7[i].start.substring(0,10)+'"';
                    $scope.sangt7KetThuc=(moment($scope.sangt7BatDau,"YYYY-MM-DD").add(days6,'days'))._d;
                    html+="<tr>"+
                    "<td><input type='date' ng-model='sangt7BatDau' value='"+response.data.sangt7[i].start.substring(0,10)+"'</td>"+
                    "<td><input type='date' ng-model='sangt7KetThuc' value='sangt7KetThuc'</td>"+
                    "<td><button ng-click='submit(t1,sangt7BatDau,sangt7KetThuc)'>Submit</button></tr>";
                  }
                //hiện thi danh sách các thời gian có thể đăng ký vào buổi chiều thứ 7

                  goiY.replaceWith($compile(html)($scope));

                  // for(var i=0;i<keys.length;++i){
                  //   // target.append($scope.thoigian.sangt7.sangt7BatDau);
                  // }
                  // var date = new Date($scope.thoigian.sangt7.sangt7BatDau);

                  // sangt7bd.append($scope.thoigian.sangt7.sangt7BatDau.substring(0,10));
                  // sangt7kt.append($scope.thoigian.sangt7.sangt7KetThuc.substring(0,10));
                  // chieut7bd.append($scope.thoigian.chieut7.Chieut7BatDau.substring(0,10));
                  // chieut7kt.append($scope.thoigian.chieut7.Chieut7KetThuc.substring(0,10));
                }, function errorCallback(response) {

                });

              };

            $scope.submit=function(buoi,batdau,ketThuc){
              $http({
                method: 'POST',
                url: '/users/submitLich',
                headers: {
                   'Content-Type': 'application/json'
                 },
                 data: {
                   khoa: $scope.lop,
                   sdt:  $scope.sdt,
                   'buoi':buoi,
                   'batDau':  batdau,
                   'ketThuc': ketThuc
                  }
              }).then(function successCallback(response) {

                }, function errorCallback(response) {

                });
            }
        function DialogController($scope, $mdDialog) {
            $scope.hide = function() {
              $mdDialog.hide();
            };

            $scope.cancel = function() {
              $mdDialog.cancel();
            };

            $scope.answer = function(answer) {
              $mdDialog.hide(answer);
            };
          }
        }

    </script>
  </body>


</html>
