<% include partials/head %>

    <h2>Danh sách các lớp trong kỳ này của giáo viên <%= user.local.email %> là </h2>
    <table class="table table-bordered table-striped">
      <tr class="">
        <td class="">
          STT
        </td>
        <td class="">
          Mã học phần
        </td>
        <td class="">
          Tên lớp học phần
        </td>
        <td class="">
          Số lượng
        </td>
        <td class="">
          Số TC
        </td>
        <td class="">
          Phòng học
        </td>
        <td class="">
          Giảng Viên
        </td>
        <td class="">
          Cơ quan công tác
        </td>
        <td class="">
          Điện thoại liên hệ
        </td>
        <td class="">
          Khóa
        </td>
        <td class="">
          Thời gian
        </td>
      </tr>
    <% for(i=0;i<data.length;i++){ %>
      <tr class="">
        <td class="">
          <%= i+1 %>
        </td>
        <td class="">
          <%= data[i].maHP %>
        </td>
        <td class="">
          <%= data[i].Tênlớphọcphần %>
        </td>
        <td class="">
          <%= data[i].Sốlượng %>
        </td>
        <td class="">
          <%= data[i].SốTC %>
        </td>
        <td class="">
          <%= data[i].Phònghọc %>
        </td>
        <td class="">
          <%= data[i].Giảngviên %>
        </td>
        <td class="">
          <%= data[i].Cơquancôngtác %>
        </td>
        <td class="">
          <%= data[i].Điệnthoạiliênhệ %>
        </td>
        <td class="">
          <%= data[i].tenlop %>
        </td>
        <td class="">
          <md-button class="md-raised md-primary" ng-click="showChonThoiGian($event)" onclick="ifunction('<%= data[i].tenlop %>')">Chọn thời gian</md-button>
        </td>
      </tr>
    <% } %>
    </table>
    <!-- Đoạn script show ra khi nhấn nút ChonThoiGian -->
    <div id="chonthoigian" ng-model="html">
      {{html}}
    </div>
      <!-- <script type="text/ng-template" id="ChonThoiGian.html">
        <div layout="column" layout-align="center center" layout-fill="layout-fill">
          <h1>{{thoigian}} </h1>
          <h1>Thao</h1>
        </div>
      </script> -->

    <!-- script lấy lớp chọn lịch -->
    <script>
      function ifunction(a) {
        i=a;
      }
      var sdt=<%= user.local.email %>
    </script>
    <% include partials/sign-in-up.ejs %>
    <% include partials/chonthoigian.ejs %>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

    <script>
      angular
        .module('myApp',['ngMaterial'])
        .config(function($mdThemingProvider) {
          // Configure a dark theme with primary foreground yellow
          $mdThemingProvider.theme('docs-dark', 'default')
            .primaryPalette('blue')
            // .dark();
            .accentPalette('green');
        })
        .run(function(){
          console.log("My app is active");
        })
        .controller('AppCtrl', AppCtrl);
        function AppCtrl($scope,$mdDialog,$http,$window) {
          $scope.showlogin=false;
          $scope.currentNavItem = 'dangkylich';
          $scope.showLogin = function(ev) {
              $mdDialog.show({
                controller: DialogController,
                templateUrl: 'login.html',
                parent: angular.element(document.body),
                targetEvent: ev,
                clickOutsideToClose:true,
                fullscreen: $scope.customFullscreen // Only for -xs, -sm breakpoints.
              })
              .then(function(answer) {
                $scope.status = 'You said the information was "' + answer + '".';
              }, function() {
                $scope.status = 'You cancelled the dialog.';
              });
            };

            $scope.showSignup = function(ev) {
              $mdDialog.show({
                controller: DialogController,
                templateUrl: 'signup.html',
                parent: angular.element(document.body),
                targetEvent: ev,
                clickOutsideToClose:true,
                fullscreen: $scope.customFullscreen // Only for -xs, -sm breakpoints.
              })
              .then(function(answer) {
                $scope.status = 'You said the information was "' + answer + '".';
              }, function() {
                $scope.status = 'You cancelled the dialog.';
              });
            };
            $scope.showChonThoiGian = function(ev) {
              $scope.i=window.i;
              $scope.sdt=window.sdt;
              $http({
                method: 'POST',
                url: '/users/goiYLich',
                headers: {
                   'Content-Type': 'application/json'
                 },
                 data: {
                   khoa: $scope.i,
                   sdt:  $scope.sdt
                  }
              }).then(function successCallback(response) {
                  $scope.thoigian=response.data;
                  console.log("thoiGianTrong",$scope.thoigian);
                  $scope.html='<script type="text/ng-template" id="ChonThoiGian.html">\
                    <div layout="column" layout-align="center center" layout-fill="layout-fill">\
                      <h1>'+$scope.thoigian+' </h1>\
                      <h1>Thao</h1>\
                    </div>\
                  ' ;

                  $mdDialog.show({
                    controller: DialogController,
                    templateUrl: 'ChonThoiGian.html',
                    parent: angular.element(document.body),
                    targetEvent: ev,
                    clickOutsideToClose:true,
                    fullscreen: $scope.customFullscreen // Only for -xs, -sm breakpoints.
                  })
                  .then(function(answer) {
                    $scope.status = 'You said the information was "' + answer + '".';
                  }, function() {
                    $scope.status = 'You cancelled the dialog.';
                  });
                }, function errorCallback(response) {
                  // called asynchronously if an error occurs
                  // or server returns response with an error status.
                });

              };
        function DialogController($scope, $mdDialog) {
            $scope.hide = function() {
              $mdDialog.hide();
            };

            $scope.cancel = function() {
              $mdDialog.cancel();
            };

            $scope.answer = function(answer) {
              $mdDialog.hide(answer);
            };
          }
        }

    </script>
  </body>


</html>
