<% include partials/head %>

    <form id="uploadForm" enctype="multipart/form-data" action="/users/nhapdulieuExcel" method="post">
      <input type="file" name="file" />Upload
      <input type="submit" value="Upload" name="submit">
    </form>

<!-- form nhap du lieu -->
    <div id="content">
        <form action="/users/nhapdulieu" method="post" class="form">
            <h1>Nhập dữ liệu</h1>
            <div class="row row1">
                <div class="col-md-5 col-md-offset-1 div1">
                    <!-- email -->
                    <div class="form-group row">
                        <label for="example-email-input" class="col-form-label">Email</label>
                        <div>
                            <input class="form-control" type="email" name="email" required >
                        </div>
                    </div>
                    <!-- giang vien -->
                    <div class="form-group row">
                        <label for="example-text-input" class="col-form-label">Giảng viên</label>
                        <div>
                            <input class="form-control" type="text" name="giang_vien" required>
                        </div>
                    </div>
                    <!-- dien thoai -->
                    <div class="form-group row">
                        <label for="example-text-input" class="col-form-label">Điện thoại</label>
                        <div>
                            <input class="form-control" type="text" name="dien_thoai" required>
                        </div>
                    </div>
                    <!-- ten lop -->
                    <div class="form-group row">
                        <label for="example-text-input" class="col-form-label">Tên lớp</label>
                        <div>
                            <input class="form-control" type="text" name="ten_lop" required>
                        </div>
                    </div>
                    <!-- ma lop -->
                    <div class="form-group row">
                        <label for="example-text-input" class="col-form-label">Mã lớp</label>
                        <div>
                            <input class="form-control" type="text" name="ma_lop" required>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-md-ofset-1 div2">
                    <!-- ma lop hoc -->
                    <div class="form-group row">
                        <label for="example-text-input" class="col-form-label">Mã lớp học</label>
                        <div>
                            <input class="form-control" type="text" name="ma_lop_hoc" required>
                        </div>
                    </div>
                    <!-- so luong sinh vien -->
                    <div class="form-group row">
                        <label for="example-number-input" class="col-form-label">Số lượng sinh viên</label>
                        <div>
                            <input class="form-control" type="number" value="42" name="so_luong_sv" required>
                        </div>
                    </div>
                    <!-- ma hoc phan -->
                    <div class="form-group row">
                        <label for="example-text-input" class="col-form-label">Mã học phần</label>
                        <div>
                            <input class="form-control" type="text" name="ma_HP" required>
                        </div>
                    </div>
                    <!-- khoa -->
                    <div class="form-group row">
                        <label for="example-text-input" class="col-form-label">Khoa</label>
                        <div>
                            <input class="form-control" type="text" name="khoa" required>
                        </div>
                    </div>
                    <!-- so tin chi -->
                    <div class="form-group row">
                        <label for="example-number-input" class="col-form-label">Số tín chỉ</label>
                        <div>
                            <input class="form-control" type="number" value="2" name="so_tin_chi" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row2">
                <!-- phong -->
                <div class="form-group row">
                    <label for="example-text-input" class="col-form-label">Phòng</label>
                    <div>
                        <input class="form-control" type="text" name="phong" required>
                    </div>
                </div>
            </div>
            <div class="row row3">
                <!-- ghi chu -->
                <div class="form-group row">
                    <label class="col-form-label">Ghi chú</label>
                    <div>
                        <textarea class="form-control ghiChu" placeholder="Nhap ghi chu ... " name="ghi_chu"></textarea>
                    </div>
                </div>
            </div>
            <!-- submit - reset -->
            <div class="form-group">
                <div class="controls col-md-8 ">
                    <input type="submit" name="submit" value="Submit" class="btn btn-primary btn btn-info submit" />
                </div>
            </div>
            <br>
            <br>
            <br>

        </form>
    </div>
    <h2>Danh sách các lớp trong kỳ này là là</h2>

    <table class="table table-condensed table-striped">
      <tr class="">
        <td class="">
          Tên giáo viên
        </td>
        <td class="">
          Email
        </td>
        <td class="">
          Tên lớp
        </td>
        <td class="">
          Mã lớp
        </td>
        <td class="">
          Mã lớp học
        </td>
        <td class="">
          Số lượng SV
        </td>
        <td class="">
          Khóa
        </td>
        <td class="">
          Số tín chỉ
        </td>
        <td class="">
          Ghi chú
        </td>

      </tr>
      <% for(i=0;i<gv.length;i++){ %>
        <% for(j=0;j<gv[i].day.length;++j) {%>
          <tr class="">
            <td class="">
              <%= gv[i].day[j].tenGv %>
            </td>
            <td class="">
              <%= gv[i].day[j].email %>
            </td>
            <td class="">
              <%= gv[i].day[j].tenlop %>
            </td>
            <td class="">
              <%= gv[i].day[j].malop %>
            </td>
            <td class="">
              <%= gv[i].day[j].malopHoc %>
            </td>
            <td class="">
              <%= gv[i].day[j].soLuongSV %>
            </td>
            <td class="">
              <%= gv[i].day[j].khoa %>
            </td>
            <td class="">
              <%= gv[i].day[j].soTinChi %>
            </td>
            <td class="">
              <%= gv[i].day[j].ghiChu %>
            </td>
          </tr>
        <% } %>
      <% } %>
    </table>

    <% include partials/sign-in-up.ejs %>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

    <script>
      angular
        .module('myApp',['ngMaterial'])
        .config(function($mdThemingProvider) {

          // Configure a dark theme with primary foreground yellow

          $mdThemingProvider.theme('docs-dark', 'default')
            .primaryPalette('blue')
            // .dark();
            .accentPalette('green');

        })
        .run(function(){
          console.log("My app is active");
        })
        .controller('AppCtrl', AppCtrl);
        function AppCtrl($scope,$mdDialog) {
          $scope.showlogin=false;
          $scope.currentNavItem = 'nhapdulieu';
          $scope.showLogin = function(ev) {
              $mdDialog.show({
                controller: DialogController,
                templateUrl: 'login.html',
                parent: angular.element(document.body),
                targetEvent: ev,
                clickOutsideToClose:true,
                fullscreen: $scope.customFullscreen // Only for -xs, -sm breakpoints.
              })
              .then(function(answer) {
                $scope.status = 'You said the information was "' + answer + '".';
              }, function() {
                $scope.status = 'You cancelled the dialog.';
              });
            };
            $scope.showSignup = function(ev) {
              $mdDialog.show({
                controller: DialogController,
                templateUrl: 'signup.html',
                parent: angular.element(document.body),
                targetEvent: ev,
                clickOutsideToClose:true,
                fullscreen: $scope.customFullscreen // Only for -xs, -sm breakpoints.
              })
              .then(function(answer) {
                $scope.status = 'You said the information was "' + answer + '".';
              }, function() {
                $scope.status = 'You cancelled the dialog.';
              });
            };
        function DialogController($scope, $mdDialog) {
            $scope.hide = function() {
              $mdDialog.hide();
            };

            $scope.cancel = function() {
              $mdDialog.cancel();
            };

            $scope.answer = function(answer) {
              $mdDialog.hide(answer);
            };
          }
        }

    </script>
  </body>


</html>
